@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #35A983;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "kg",sans-serif;
}
